
<div id="wrapper">

<div id="header">
<form action="action.php" method="post">
<table>
<tr><td><%= link_to 'Registrieren', register_path %></td></tr>
<tr><td><input type="submit" value=" Login " /></td></tr>
<tr><td>Email</td><td><input type="text" name="email" /></td></tr>
<tr><td>Password</td><td><input type="password" name="pw" /></td></tr>
</table>
</form>

</div>

<div id="logo">
NewsMinds
</div>

<div id="menu">
<ul>
<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'Registierung', register_path %></li>
<li><%= link_to 'Posts', root_path %></li>
<li><%= link_to 'Tagesthema', top_stories_path %></li>
<li><%= link_to 'Themenwahl', choose_theme_path %></li>
<li><a href="#">Leer</a></li>
</ul>
</div>

<div id="main">

<div id="content">
<h2>Themen wählen</h2>

	<% @daly_news.each do |news| %>
	<a href="votedTheme/<%= news.id %>" >
	<h3><%= news.title %></h3><div><%= news.description %></div>
	</a>
	<% end %>


</div>

</div>
<div id="rightbar">
<h3>H3</h3>
<div>Lorem ipsum dolor sit amet, sanctae Stranguillionis in rei sensibilium acciperem qui. Ex hic in fuerat construeret in rei civibus.</div>
<h3>H3</h3>
<div>Lorem ipsum dolor sit amet, sanctae Stranguillionis in rei sensibilium acciperem qui. Ex hic in fuerat construeret in rei civibus.</div>
<h3>H3</h3>
<div>Lorem ipsum dolor sit amet, sanctae Stranguillionis in rei sensibilium acciperem qui. Ex hic in fuerat construeret in rei civibus.</div>
<h3>H3</h3>
<div>Lorem ipsum dolor sit amet, sanctae Stranguillionis in rei sensibilium acciperem qui. Ex hic in fuerat construeret in rei civibus.</div>
</div>

</div>

<div id="footer">

<% all_stories = TopStory.all %> 	
                <% for i in 0...all_stories.count do %>
                  <%= link_to all_stories[i].pubDate.slice(4..10), "prevDays/" + all_stories[i].pubDate %> | 
                <% end %>
<br />
(c) Brünner + Fritsch 11.2011

</div>

</div>
