<%# Copyright (C) <2012> <Bruenner Franz Josef, Fritsch Andreas> %>

<h2>Heutiges Tagesthema</h2>

<div>
				
<h3><%= raw @latest_top_story.title %></h3>
<div><%= raw @latest_top_story.description %></div>

</div>

<% if @latest_posts.count > 0 %>
  <h3>Neueste Kommentare</h3>
<% end %>

<% @latest_posts.each do |post| %>
  
  <div class="post">
  <h4><%= post.title %></h4>
  <%= post.content %><br />
  
  Von: <span class="username"><%= post.user.username %></span> Postscore: <%= post.score %><br />
  
<% end %>