<h2>Tagesthema</h2>

<table>
<% if @latest_top_story != nil %>
				
<tr><td><h4><%= raw @latest_top_story.title %></h4></td></tr><tr><td><%= raw @latest_top_story.description %></td></tr> 

</table>

<%= link_to 'Post erstellen', new_post_path(@latest_top_story.id) %>
<hr />

<table>	
<% @latest_top_story.posts.each do |post| %>

<tr><td><b>Kommentar vom User: <%= post.user.username %></b></td><td><b>Postscore: </b><%= post.post_score %></td></tr> 
<tr><td><%= post.title %></td></tr>
<tr><td><%= post.content %></td></tr>

<% if post.user.username != session[:username] %>

  <tr><td><%= link_to 'find ich gut', user_mind_path(1, post.estimation, post.id) %></td></tr>
  <tr><td><%= link_to 'find ich schlecht', user_mind_path(0, post.estimation, post.id) %></td></tr>

<% end %>

<tr><td></td></tr>
<% end %>

</table>		

<% else %>
    <b>Es wurde noch kein Thema als Tagesthema gewählt</b> 
<% end %>
