<h2>vergangenes Tagesthema</h2>

<h1>Tagesthema vom <%= @top_stories.pubDate.slice(4..10) %></h1>
			<table>
			<tr><td><h4><%= raw @top_stories.title %></h4></td></tr><tr><td><%= raw @top_stories.description %></td></tr> 

			</table>
<hr />
	
<% @top_stories.posts.each do |post| %>
  <b><%= post.title %></b>
  <p><%= post.content %></p>
  <p><%= post.estimation %></p>
<% end %>

