<h2>vergangenes Tagesthema</h2>

<h1>Tagesthema vom <%= @top_stories.pubDate.slice(4..10) %></h1>
			<table>
			<tr><td><h4><%= raw @top_stories.title %></h4></td></tr><tr><td><%= raw @top_stories.description %></td></tr> 

			</table>
<hr />

<table>	
<% @top_stories.posts.each do |post| %>

  <tr><td>Titel: </td><td><b><%= post.title %></b></td></tr>
  <tr><td>Beschreibung: </td><td><p><%= post.content %></p</td></tr>
  <tr><td>Score: </td><td><p><%= post.score %></p</td></tr>
  <tr><td></td</tr>

<% end %>
</table>
