<h2>Tagesthema vom <%= @top_stories.pubDate.slice(5..10) %></h2>
	<h4><%= raw @top_stories.title %></h4>
  <div><%= raw @top_stories.description %></div>

<% @top_stories.posts.each do |post| %>
  
  <div class="post">
  <h4><%= post.title %></h4>
  <%= post.content %><br />
  Von: <span class="username"><%= post.user.username %></span> Postscore: <%= post.score %>
  </div>
  
<% end %>
