
<div id="wrapper">

<div id="header">

<% if session[:username] == nil %>

<form action="<%= check_user_path %>" method="POST">
<table>
<tr><td><%= link_to 'Registrieren', register_path %></td></tr>
<tr><td><input type="submit" value=" Login " /></td></tr>
<tr><td>Password</td><td><input type="password" name="password" /></td></tr>
<tr><td>Username</td><td><input type="username" name="username" /></td></tr>
</table>
</form>
<% else %>

<form action="<%= logout_path %>">
<table>
<tr><td><input type="submit" value=" Logout " /></td></tr>
</table>
</form>

<% end %>

</div>

<div id="logo">
NewsMinds
</div>

<div id="menu">
<ul>
<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'Registierung', register_path %></li>
<li><%= link_to 'Posts', root_path %></li>
<li><%= link_to 'Tagesthema', top_stories_path %></li>

<% handler = DalyNewsHandler.new %>
<% if !handler.hasGotTopStory %>
<li><%= link_to 'Themenwahl', choose_theme_path %></li>
<% end %>

<li><a href="#">Leer</a></li>
</ul>
</div>

<div id="main">

<div id="content">
<h2>vergangenes Tagesthema</h2>

<h1>Tagesthema vom <%= @top_stories[0].pubDate.slice(4..10) %></h1>
			<table>
			<tr><td><h4><%= raw @top_stories[0].title %></h4></td></tr><tr><td><%= raw @top_stories[0].description %></td></tr> 

			</table>
			<hr />
</div>

</div>
<div id="rightbar">
<h3>H3</h3>
<div>Lorem ipsum dolor sit amet, sanctae Stranguillionis in rei sensibilium acciperem qui. Ex hic in fuerat construeret in rei civibus.</div>
<h3>H3</h3>
<div>Lorem ipsum dolor sit amet, sanctae Stranguillionis in rei sensibilium acciperem qui. Ex hic in fuerat construeret in rei civibus.</div>
<h3>H3</h3>
<div>Lorem ipsum dolor sit amet, sanctae Stranguillionis in rei sensibilium acciperem qui. Ex hic in fuerat construeret in rei civibus.</div>
<h3>H3</h3>
<div>Lorem ipsum dolor sit amet, sanctae Stranguillionis in rei sensibilium acciperem qui. Ex hic in fuerat construeret in rei civibus.</div>
</div>

</div>

<div id="footer">
<p>
<% all_stories = TopStory.all %> 	
                <% for i in 0...all_stories.count do %>
                  <%= link_to all_stories[i].pubDate.slice(4..10), prev_days_path(all_stories[i].id) %> | 
                <% end %>
</p>
<p>
(c) Brünner + Fritsch 11.2011
</p>
</div>

</div>
