<%# Copyright (C) <2012> <Bruenner Franz Josef, Fritsch Andreas> %>

<h2>Registrierung:</h2>

<table>
<%= form_for @user, :url => { :action => "create" } do |f| %>
    <%= @user.username %>
<tr><td>Username</td><td><%= f.text_field :username %></td></tr>

<tr><td>Passwort</td><td><%= f.password_field :password %></td></tr>

<tr><td>Facebook-Email(optional)</td><td><%= f.text_field :facebookEmail %></td></tr>

<tr><td><%= f.submit ' Registrieren '%></td><td></td></tr>

<% end %>
</table>
