
<% if @posts.empty? %>
<h2 style="margin-left:30%">Noch keine Kommentare vorhanden</h2>

<% else %>
  <% @posts.each do |post| %>

  <p><b>Tagesthematitel:</b></p>
  <p><%= post.top_story.title %></p>
  <p><b>Kommentartitel:</b></p>
  <p><%= post.title %></p>

  <p><b>Inhalt</b></p>
  <p><%= post.content %></p>

  <p><b>Bewertung</b></p>
  <p><%= post.estimation %></p>

  <p><%= link_to 'Kommentar ändern', edit_post_path(post.id) %>

  <% end %>
<% end %>
