<% form_for(@post) do |p| %>

<%= hidden_field_tag(:top_story_id, @top_story_id) %>
<%= hidden_field_tag(:user_id, @user_id) %>

<b>Titel:</b>
<%= p.text_field :title %>

<p>Inhalt:<p>
<%= p.text_area :content %>

<p>Bewertung</p>
<%= p.text_field :estimation %>

<%= p.submit 'Erstellen' %>

<% end %>