<h2>Zum Thema: <%= @top_story.title %></h2>

<% form_for(@post) do |p| %>

<%= hidden_field_tag(:top_story_id, @top_story.id) %>
<%= hidden_field_tag(:user_id, @user_id) %>

<b>Titel:</b>
<%= p.text_field :title %>

<p>Inhalt:<p>
<%= p.text_area :content %>

<p>Bewertung</p>
<b>positiv: </b><%= radio_button_tag 'estimation', "positiv" %>
<b>negativ: </b><%= radio_button_tag 'estimation', "negativ" %>

<p><%= p.submit 'Erstellen' %></p>

<% end %>
