<%# Copyright (C) <2012> <Bruenner Franz Josef, Fritsch Andreas> %>

<h2>Zum Thema: <%= @top_story.title %></h2>

<table>
<% form_for(@post) do |p| %>

<%= hidden_field_tag(:top_story_id, @top_story.id) %>
<%= hidden_field_tag(:user_id, @user_id) %>

<tr><td>Titel:</td><td><%= p.text_field :title %></td></tr>

<tr><td>Inhalt:</td><td><%= p.text_area :content %></td></tr>

<tr><td>Bewertung</td><td></td></tr>

<tr><td>positiv:</td><td><%= radio_button_tag 'estimation', "positiv" %></td></tr>
<tr><td>negativ:</td><td><%= radio_button_tag 'estimation', "negativ" %></td></tr>

<tr><td><%= p.submit ' Erstellen ' %></td><td></td></tr>
</table>

<% end %>
