
<% if @posts.empty? %>
<h4>Noch keine Kommentare vorhanden</h4>

<% else %>
  <% @posts.each do |post| %>

  <div class="postdetails">
  <h4>Tagesthema:</h4>
  <div><%= post.top_story.title %></div>
  <h4>Kommentar:</h4>
  <div><%= post.title %></div>
  <div><%= post.content %></div>

  <h4>Score:</h4>
  <div><%= post.score %></div>

  <h4>Bewertung:</h4>
  <div><% if post.estimation == 1 %>
       Positiv
     <% else %>
       Negativ
     <% end %>
  </div>
  </div>
  
  <%= link_to 'Kommentar ändern', edit_post_path(post.id) %><br />
  <%= link_to 'Kommentar löschen', destroy_path(post.id) %>
  <% end %>
<br />
<br />
<%= link_to 'Alle Kommentare löschen', destroy_all_path %>

<% end %>
