<%# Copyright (C) <2012> <Bruenner Franz Josef, Fritsch Andreas> %>

<h2>Themen wählen</h2>

	<% @daily_news.each do |news| %>
	  
    <div class="choosetheme">
    
    <%= link_to(news, :method => :post) do %>
      <span class="themeheader"><%= news.title %></span>
      <%= raw news.description %>
	  <% end %>
	  
    </div>
    <div class="currentvotes"><%= link_to 'Zum Artikel', news.theme_url %>  Stimmen zurzeit: <%= news.clicks %></div>
	<% end %>
