<!DOCTYPE html>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<!--
#############################
#                           #
#  Fachhochschule Salzburg  #
#  MMT-B2010 WS2011         #
#  QPT2a - NewsMinds        #
#  Brünner Franz Josef      #
#  Fritsch Andreas          #
#                           #
#############################
-->

<title>NewsMinds</title>

<%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>


<script type="text/javascript"></script>
<style type="text/css"></style>

</head>

<body>

<div id="wrapper">

<div id="header">

<% if session[:username] == nil %>

<form action="<%= login_path %>" method="POST">
<table>
<tr><td><%= link_to 'Registrieren', register_path %></td></tr>
<tr><td><input type="submit" value=" Login " /></td></tr>
<tr><td>Passwort</td><td><input type="password" name="password" /></td></tr>
<tr><td>Username</td><td><input type="username" name="username" /></td></tr>
</table>
</form>
<% else %>

<form action="<%= logout_path %>">
<table>
<tr><td><input type="submit" value=" Logout " /></td></tr>
</table>
</form>

<% end %>

</div>

<div id="logo">
NewsMinds
</div>

<div id="menu">
<ul>
<li><%= link_to 'Home', root_path %></li>

<li><%= link_to 'Tagesthema', top_stories_path %></li>
<li><%= link_to 'Themenwahl', choose_theme_path %></li>

<li><%= link_to 'Archiv', archive_path %></li>

<% if isUserLoggedIn %>
  <li><%= link_to 'Posts', myposts_path %></li>
  <li><%= link_to 'Profil', profile_path %></li>
<% end %>
</ul>
</div>

<div id="main">

<div id="content">

<% if flash[:notice] != nil %>
	<div id="notice"><%= flash[:notice] %></div>
<% end %>

<%= yield %>

</div>
</div>

<div id="rightbar">

<% if isUserLoggedIn  %>
  
  <% user = User.where( :username => session[:username] ).first %>

    Eingeloggt als<br />
    <span class="username"><%= user.username %></span><br />
    <br />
    <h4>Gesinnung</h4>
    <img src="http://chart.apis.google.com/chart?chf=bg,s,D9D9C1&chxl=0:|Schlecht        ||          Gut&chxp=0,0,,100&chxt=y&chs=175x110&cht=gm&chco=76A4FB95&chd=t:<%= user.mind + 50 %>&chl=<%= user.mind %>" width="175" height="110" alt="" />    
    <span class="votepower">Stimmengewicht: <%= user.votePower %><br />
    Gute Bewertungen: <%= user.numberOfPosVotedPosts %><br />
    Negative Bewertungen: <%= user.numberOfNegVotedPosts %><br />
    Positive Kommentare: <%= user.numberOfPosCreatedPosts %><br />
    Negative Kommentare: <%= user.numberOfNegCreatedPosts %>

<% else %>
  <span class="username">Hier werden deine Statistiken angezeigt, wenn du eingeloggt bist.</span>
<% end %>

</div>

<div id="footer">
<div id="oldthemes">
Letzte Tage: 
<% all_stories = TopStory.all %> 	
    <% for i in 0...all_stories.count do %>
      <%= link_to all_stories[i].pubDate.slice(5..10), prev_days_path(all_stories[i].id) %>
<% end %>
</div>
<div id="copy">
(c) Brünner + Fritsch 11.2011
</div>
</div>

</div>

</body>

</html>
